<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Uservoice OAuth Example</h1>
  <% if @current_user %>
    <p>Logged in as <a href='mailto:<%= @current_user['email'] %>'><%= @current_user['name'] %></a></p>
  <% elsif @auth_system_down %>
    <p>Unfortunately the authentication system is down, try again after a while. We are very sorry for the inconvenience!</p>
  <% else %>
    <p><a class="btn primary large" href="/authorize-uservoice">Authorize yourself &raquo;</a></p>
  <% end %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Request token</h2>
    <textarea rows="20" cols="30" style="width:100%;"><%= @request_token.inspect %></textarea>
  </div>
  <div class="span5">
    <h2>Access token</h2>
     <textarea rows="20" cols="30" style="width:100%;"><%= @access_token.inspect %></textarea>
 </div>
  <div class="span5">
    <h2>Current user</h2>
    <textarea rows="20" cols="30" style="width:100%;"><%= @current_user.inspect %></textarea>
  </div>
</div>